<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="images/simple_logo_v1.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{{_sections.head}}}
    </head>
    <body class="col-12">
        <header class="col-12">
            <a href="/">
                <img src="../images/logo_v1.png" class="col-2" alt="Logo"/>    
            </a>
            <form class="search_form col-8" action="/search" method="post">
                <select id="category" class="col-2">
                    <option>All</option>
                </select>
                <input id="input" name="input" class="col-8" type="text" placeholder="Search" maxlength="100"/>
                <button type="submit" id="search" class="red col-2"></button>
            </form>
            <div class="headerButton_container col-1">
                <a href="../cart">
                    <button class="cart_button green col-12"></button>
                </a>
            </div>
            <div class="headerButton_container col-1">
                <a href="../account">
                    <button class="account_button blue col-12"></button>
                </a>
            </div>
        </header>
        <article class="col-12">
            <div class="content_container col-12">
                {{{body}}}
                <footer class="col-12">
                    <p class="col-6"><a href="about">About Us</a> | <a href="contact">Contact Us</a> | <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a> | <a href="creatorLogin">Creator Account</a></p>
                    <p class="col-6">Copyright &copy 2017 Addifex, L.L.C. All Rights Reserved</p>
                </footer>
            </div>
        </article>
    </body>
</html>