<html>
    <head>
        <title>Addifex</title>
    </head>
    <body>
        <header>
            <img src="/images/logo_v1.png" alt="Addifex Logo"/>
        </header>
        {{{body}}}
    </body>
</html>