<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="images/simple_logo_v2.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{{_sections.head}}}
    </head>
    <body class="col-12">
        <header class="col-12">
            <a href="/">
                <img src="../images/logo_v1.png" class="col-2" alt="Logo"/>    
            </a>
        </header>
        <article class="col-12">
            <div class="content_container col-12">
            {{{body}}}
            </div>
        </article>
    </body>
</html>