{{#section 'head'}}
    <link rel="stylesheet" href="../../styles/about_style.css" type="text/css"/>
    <title>About Addifex</title>
{{/section}}

<center>
    <h2>403: Forbidden</h2>
    <h2>Thou shall not pass!</h2>
</center>