{{#section 'head'}}
    <link rel="stylesheet" href="../../styles/about_style.css" type="text/css"/>
    <title>404: Page Not Found</title>
{{/section}}

<center>
    <h2>Like...no way man!</h2>
    <h2>404 : Page not found</h2>
</center>