{{#section 'head'}}
    <link rel="stylesheet" href="../styles/about_style.css" type="text/css"/>
    <title>About Addifex</title>
{{/section}}

<div class="info_container col-12">
    <div class="info_section col-12">
        <h1>The Addifex Marketplace</h1>
        <p>The Addifex Marketplace is a platform for inventors, entrepreneurs, & small businesses to launch & grow their products. Shopping on Addifex isn't just about finding cool products, it's about supporting the community of Creators that want to use their talents to sell products of their own.</p>
    </div>
    <div class="info_section col-12">
        <h1>Our Mission</h1>
        <p>At Addifex, we want to be a partner for every new product that is launched. The process of building and selling a product is a lot of work, and our objective is to simplify that process. To accomplish our objective, we built the Addifex Marketplace: a quick and simple solution to giving Creators an online shop to sell from. We provide resources and information to help guide Creators through the process of selling their products. Above all else, we want to foster a community for Creators to share information and help other Creators.</p>
    </div>
    <div class="info_section col-12">
        <h1>The Creators</h1>
        <p>Anyone can be a Creator on Addifex and there are no limitations to what can be sold. A Creator is someone with an idea and a will to bring that idea to life. Addifex is a platform to help enable that idea.</p>
    </div>
    <div class="info_section col-12">
        <h1>How To Sell</h1>
    </div>
</div>