{{#section 'head'}}
    <title>My Acccount</title>
    <link rel="stylesheet" href="styles/account_style.css"/>
    <script src="scripts/account_controller.js"></script>
{{/section}}

<h2>{{status}}</h2>
<p>{{creator.name}}</p>
<p>{{creator.email}}</p>
<p>{{creator.password}}</p>