{{#section 'head'}}
    <link rel="stylesheet" href="styles/account_style.css" type="text/css"/>
    <script src="scripts/account_controller.js"></script>
    <title>My Acccount</title>
{{/section}}

{{#if signedIn}}
    <div class="notifications_container col-12">
        <div class="notifications_section col-12">
            <center><h4><a href="/notifications">You have 0 notifications</a></h4></center>
        </div>
    </div>
    <div class="sidebar col-3">
        <button class="red col-12" id="likesButton" disabled>Likes</button>
        <button class="green col-12" id="ordersButton">Orders</button>
        <button class="blue col-12" id="infoButton">My Info</button>
    </div>
    <div class="account_section col-9" id="likesSection">
        <div class="section_content col-12">
            <div class="liked_container col-12">
                <a href="product.html">
                    <img class="col-2" src="../images/battery.jpg"/>
                </a>
                <div class="likedInfo_container col-10">
                    <ul>
                        <li>Product Name</li>
                        <li>By: Creator</li>
                        <li>$0.00</li>
                    </ul>
                </div>
            </div>
            <div class="liked_container col-12">
                <a href="product.html">
                    <img class="col-2" src="../images/battery.jpg"/>
                </a>
                <div class="likedInfo_container col-10">
                    <ul>
                        <li>Product Name</li>
                        <li>By: Creator</li>
                        <li>$0.00</li>
                    </ul>
                </div>
            </div>
            <div class="liked_container col-12">
                <a href="product.html">
                    <img class="col-2" src="../images/battery.jpg"/>
                </a>
                <div class="likedInfo_container col-10">
                    <ul>
                        <li>Product Name</li>
                        <li>By: Creator</li>
                        <li>$0.00</li>
                    </ul>
                </div>
            </div>
            <div class="button_container col-12">
                <a href="likes.html">
                    <button class="red col-12">All Likes</button>
                </a>
            </div>
        </div>
    </div>
    <div class="account_section col-9" id="ordersSection">
        <div class="section_content col-12">
            <center>
                <h1>The marketplace is still under construction</h1>
                <h2>Come back soon!</h2>
            </center>
            <!--<div class="button_container col-12">
                <button class="green col-12">All Orders</button>
            </div>-->
        </div>
    </div>
    <div class="account_section col-9" id="infoSection">
        <div class="section_content col-12">
            <ul>
                <li>{{creator.name}}</li>
                <li>{{creator.email}}</li>
                <li>leCreator</li>
                <li>{{creator.password}}</li>
                <br>
                <h4>Shipping Info</h4>
                <li>Maxwell Schaefer</li>
                <li>5742 Tuscany Lane</li>
                <li>Waunakee, Wisconsin 53597</li>
                <br>
                <h4>Billing Info</h4>
                <li>Maxwell Schaefer</li>
                <li>5742 Tuscany Lane</li>
                <li>Waunakee, Wisconsin 53597</li>
            </ul>
            <a href="updateInfo.html">
                <button class="info_button blue col-3">Edit</button>
            </a>
            <a href="change.html">
                <button class="info_button blue col-3">Change Password</button>
            </a>
        </div>
    </div>
{{else}}
    {{> signIn}}
{{/if}}