{{#section 'head'}}
    <link rel="stylesheet" href="styles/account_style.css" type="text/css"/>
    <script src="scripts/account_controller.js"></script>
    <title>My Acccount</title>
{{/section}}

{{#if user}}
    {{> userDashboard}}
{{else}}
    {{> signIn}}
{{/if}}