<form action="/addProduct" method="post">
    <p>Product Name:</p>
    <input type="text" name="name"/>
    <p>Price:</p>
    <input type="text" name="price"/>
    <button type="submit">Make Product</button>
</form>