{{#section 'head'}}
    <link rel="stylesheet" href="../../styles/checkout_style.css" type="text/css"/>
    <script src="../../scripts/checkout_controller.js"></script>
    <title>Guest Checkout</title>
{{/section}}