{{#section 'head'}}
    <link rel="stylesheet" href="/styles/admin_style.css" type="text/css"/>
    <title>Admin</title>
{{/section}}

<form class="col-12" action='/admin/category' method="post">
    <h4>Add Category</h4>
    <div class="field_container col-12">
        <input name="name" class="text_field col-12" type="text"/>
    </div>
    <center><h3 class="error">{{message}}</h3></center>
    <div class="button_container col-12">
        <button type="submit" class="blue col-12">Add Category</button>
    </div>
</form>
<div class="col-12">
    <h3>Categories:</h3>
    <ul>
        {{#each categories}}
            <li>{{this.name}}</li>
        {{/each}}
    </ul>
</div>
