{{#section 'head'}}
    <link rel="stylesheet" href="../styles/contact_style.css" type="text/css"/>
    <title>Contact Us</title>
{{/section}}

<h2>Contact Us</h2>
<form id="messageForm">
    <select class="col-6">
        <option>Choose a Category...</option>
        <option>Questions</option>
        <option>Feedback</option>
        <option>Issues</option>
    </select>
    <input class="col-12" id="subject" placeholder="Subject...">
    <textarea class="col-12" placeholder="Message..."></textarea>
    <div class="button_container col-12">
        <button id="send" class="green col-12">Send</button>
    </div>
</form>