{{#section 'head'}}
    <link rel="stylesheet" href="styles/dashboard-products-new_style.css" type="text/css"/>
    <title>New Product</title>
    <script src="../scripts/dashboard-products-new_controller.js"></script>
{{/section}}

<div class="sideButtons_container col-3">
    <ul>
        <a href="/dashboard-products">
            <li class="side_button col-12">Back to Products</li>
        </a>
    </ul>
</div>
<form class="rightSection_container col-11">
    <center><h3>New Product</h3></center>
    <div class="field_container col-12">
        <h4>Product Name</h4>
        <p>*</p>
        <p id="productNameError" class="error"></p>
        <input id="productName" name="name" class="text_field col-12" type="text"/>
    </div>
    <div class="field_container col-12">
        <h4>Price</h4>
        <p>*</p>
        <p id="priceError" class="error"></p>
        <input id="price" name="price" class="text_field col-12" type="number"/>
    </div>
    <div class="field_container col-12">
        <h4>Shipping Cost</h4>
        <p>*</p>
        <p id="shippingError" class="error"></p>
        <input id="shipping" name="shipCost" class="text_field col-12" type="number"/>
    </div>
    <div class="field_container col-12">
        <div class="radio_container col-12">
            <label for="noTime"><h4>Made By Order:</h4></label>
            <input id="noTime" name="mbo" type="checkbox">
        </div>
        <p>*</p>
        <h4>Build Time</h4>
        <p id="timeError" class="error"></p>
        <input id="time" name="buildTime" class="text_field col-4" type="number"/>
        <select id="timeScale" name="timeScale" class="col-3">
            <option>Select Unit</option>
            <option>Hour(s)</option>
            <option>Day(s)</option>
            <option>Week(s)</option>
        </select>
    </div>
    <div class="field_container col-12">
        <h4>Images</h4>
        <p>*Add up to 12 images. First image is the products featured image.</p>
        <p id="productImageError" class="error"></p>
        <input id="productImage" name="productImage" class="file_input" type="file"/>
        <label for="productImage" id="imageLabel" class="col-3">Choose a file...</label>
        <button id="deleteImage" class="red col-2" type="button">Delete Last</button>
        <div id="imageContainer" class="images_container col-12"></div>
    </div>
    <div class="field_container col-12">
        <h4>Description</h4>
        <p>*</p>
        <p id="description" class="error"></p>
        <textarea  name="description" class="col-12"></textarea>
    </div>
    <div class="field_container col-12">
        <h4>Options</h4>
        <p>*</p>
        <p id="optionsError" class="error"></p>
        <div class="optionList_container col-12">
            <div class="option_container col-4">
                <h4>Colors:</h4>
                <input type="text" id="newColor" class="text_field col-10">
                <button id="addColor" class="red col-2" type="button">+</button>
                <input type="hidden" id="colors" name="colors" value=""/>
                <ul id="colorsAdded" class="options_list col-12"></ul>
                <button id="deleteLastColor" type="button" class="red col-12">Delete Last</button>
            </div>
            <div class="option_container col-4">
                <h4>Sizes:</h4>
                <input type="text" id="newSize" class="text_field col-10">
                <button id="addSize" class="green col-2" type="button">+</button>
                <input type="hidden" id="sizes" name="sizes" value=""/>
                <ul id="sizesAdded" class="options_list col-12"></ul>
                <button id="deleteLastSize" type="button" class="green col-12">Delete Last</button>
            </div>
            <div class="option_container col-4">
                <h4>Other Options:</h4>
                <input type="text" id="newOther" class="text_field col-10">
                <button id="addOther" class="blue col-2" type="button">+</button>
                <input type="hidden" id="other" name="other" value=""/>
                <ul id="otherAdded" class="options_list col-12"></ul>
                <button id="deleteLastOther" type="button" class="blue col-12">Delete Last</button>
            </div>
        </div>
    </div>
    <div class="field_container col-12">
        <h4>Category</h4>
        <p>*</p>
        <p id="categoryError" class="error"></p>
        <select id="category" name="category" class="col-4">
            <option>Select Category</option>
        </select>
    </div>
    <div class="field_container col-4">
        <h4>Keywords</h4>
        <p>*</p>
        <p id="keywordsError" class="error"></p>
        <input id="newKeyword" class="text_field col-10" type="text"/>
        <button id="addKeyword" class="red col-2" type="button">+</button>
        <input id="keywords" name="keywords" type="hidden" value=""/>
        <ul id="keywordsAdded" class="options_list col-12"></ul>
        <button id="deleteLastKeyword" class="red col-12" type="button">Delete Last</button>
    </div>
    <div class="button_container col-12">
        <button class="red col-12">Upload</button>
    </div>
</form>
</div>