{{#section 'head'}}
    <link rel="stylesheet" href="styles/dashboard-help_style.css" type="text/css"/>
    <title>Help</title>
{{/section}}

<div class="sideButtons_container col-3">
    <ul>
        <a href="/dashboard">
            <li class="side_button col-12">Dashboard Home</li>
        </a>
        <a href="/dashboard-orders">
            <li class="side_button col-12">Orders</li>
        </a>
        <a href="/dashboard-products">
            <li class="side_button col-12">Products</li>
        </a>
        <a href="/dashboard-sales">
            <li class="side_button col-12">Sales</li>
        </a>
        <a href="/dashboard-edit">
            <li class="side_button col-12">Edit Shop</li>
        </a>
        <a href="/dashboard-info">
            <li class="side_button col-12">Shop Info</li>
        </a>
        <a href="/dashboard-help">
            <li class="side_button col-12">Help</li>
        </a>
    </ul>
</div>
<div class="rightSection_container col-9">
    <h2>Help</h2>
    
</div>