{{#section 'head'}}
    <link rel="stylesheet" href="styles/dashboard_style.css" type="text/css"/>
    <title>Dashboard</title>
{{/section}}

<div class="sideButtons_container col-3">
    <ul>
        <a href="/dashboard">
            <li class="side_button col-12">Dashboard Home</li>
        </a>
        <a href="/dashboard-orders">
            <li class="side_button col-12">Orders</li>
        </a>
        <a href="/dashboard-products">
            <li class="side_button col-12">Products</li>
        </a>
        <a href="/dashboard-sales">
            <li class="side_button col-12">Sales</li>
        </a>
        <a href="/dashboard-edit">
            <li class="side_button col-12">Edit Shop</li>
        </a>
        <a href="/dashboard-info">
            <li class="side_button col-12">Shop Info</li>
        </a>
        <a href="/dashboard-help">
            <li class="side_button col-12">Help</li>
        </a>
    </ul>
</div>
{{#if creator}}
    <div class="rightSection_container col-9">
        <h2>Creator Dashboard</h2>
        <center><h3>Notifications</h3></center>
        <div class="notification col-12">
            <div class="text_container col-12">
                <h4>Welcome to Addifex, {{creator.name}}</h4>
                <p id="notificationInfo">Thank you for opening a creator account.</p>
                <a href="#" class="delete_link">Delete</a>
            </div>
        </div>
    </div>
{{else}}
    <center><h3>Please sign in or create and account</h3></center>
{{/if}}