{{#section 'head'}}
    <link rel="stylesheet" href="../styles/dashboard_style.css" type="text/css"/>
    <title>Dashboard Home</title>
{{/section}}
{{> dashboard-sidebar}}
<div class="rightSection_container col-9">
    <h2>Creator Dashboard</h2>
    <center><h3>Notifications</h3></center>
    <div class="notification col-12">
        <div class="text_container col-12">
            <h4>Welcome to Addifex, {{creator.name}}</h4>
            <p id="notificationInfo">Thank you for opening a creator account.</p>
            <a href="#" class="delete_link">Delete</a>
        </div>
    </div>
</div>