{{#section 'head'}}
    <link rel="stylesheet" href="../styles/dashboard-products_style.css" type="text/css"/>
    <title>Products</title>
{{/section}}

<div class="sideButtons_container col-3">
    <ul>
        <a href="/dashboard">
            <li class="side_button col-12">Dashboard Home</li>
        </a>
        <a href="/dashboard/orders">
            <li class="side_button col-12">Orders</li>
        </a>
        <a href="/dashboard/products">
            <li class="side_button col-12">Products</li>
        </a>
        <a href="/dashboard/sales">
            <li class="side_button col-12">Sales</li>
        </a>
        <a href="/dashboard/account/edit">
            <li class="side_button col-12">Edit Shop</li>
        </a>
        <a href="/dashboard/account/info">
            <li class="side_button col-12">Shop Info</li>
        </a>
        <a href="/dashboard/help">
            <li class="side_button col-12">Help</li>
        </a>
    </ul>
</div>
<div class="rightSection_container col-9">
    <h2>Products</h2>
    <div class="addNew_container col-12">
        <a href="/dashboard/products/new">
            <button class="red col-12">Add New +</button>
        </a>
        <center><h3>{{message}}</h3></center>
    </div>
    {{#each product}}
        <a href="/dashboard/products/view/{{this._id}}">
            <div class="product_container col-4">
                <img class="product_image col-12" src="images/battery.jpg"/>
                <center><h4>{{this.name}}</h4></center>
            </div>
        </a>
    {{/each}}
</div>