{{#section 'head'}}
    <link rel="stylesheet" href="styles/dashboard-info_style.css" type="text/css"/>
    <title>Shop Info</title>
{{/section}}

<div class="sideButtons_container col-3">
    <ul>
        <a href="/dashboard">
            <li class="side_button col-12">Dashboard Home</li>
        </a>
        <a href="/dashboard-orders">
            <li class="side_button col-12">Orders</li>
        </a>
        <a href="/dashboard-products">
            <li class="side_button col-12">Products</li>
        </a>
        <a href="/dashboard-sales">
            <li class="side_button col-12">Sales</li>
        </a>
        <a href="/dashboard-edit">
            <li class="side_button col-12">Edit Shop</li>
        </a>
        <a href="/dashboard-info">
            <li class="side_button col-12">Shop Info</li>
        </a>
        <a href="/dashboard-help">
            <li class="side_button col-12">Help</li>
        </a>
    </ul>
</div>
<div class="rightSection_container col-9">
    <h2>Shop Info</h2>
    <ul>
        <li>maxschaef31@gmail.com</li>
        <li>leCreator</li>
        <br>
        <h4>Shipping Info</h4>
        <li>Maxwell Schaefer</li>
        <li>5742 Tuscany Lane</li>
        <li>Waunakee, Wisconsin 53597</li>
        <br>
        <h4>Billing Info</h4>
        <li>Maxwell Schaefer</li>
        <li>5742 Tuscany Lane</li>
        <li>Waunakee, Wisconsin 53597</li>
    </ul>
    <a href="creatorInfo-edit.html">
        <button class="info_button red col-3">Edit Info</button>
    </a>
    <a href="creatorInfo-changePassword.html">
        <button class="info_button red col-3">Change Password</button>
    </a>
</div>