<h2>Sign Up for Our Newsletter!</h2>
<form action="/process?form=newsletter" method="post">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <p>Full Name:</p>
    <input type="text" name="fullname">
    <p>Email:</p>
    <input type="text" name="fullname">
</form>