<h1>Product Listing</h1>
<img src="/images/battery.jpg" alt="Product Name"/>
{{#section 'jquery'}}
    <script>
        $(document).ready(function(){
            $('input[name="referrer"]').val(document.referrer);
        });
    </script>
{{/section}}