<form action="/process" method="post">
    <p>Full Name:</p>
    <input type="text" name="fullname"/>
    <p>Email:</p>
    <input type="text" name="email"/>
    <button type="submit">Sign Up</button>
</form>