{{#section 'head'}}
    <title>Sign In</title>
    <link rel="stylesheet" href="styles/signin_style.css" type="text/css"/>
    <!--<script src="scripts/signin_controller.js"></script>-->
{{/section}}
<form id="welcome" class="welcome col-12" action="" method="post">
    <center><h2>Sign In</h2></center>
    <center><h3 class="error">{{message.signin}}</h3></center>
    <div class="field_container col-12">
        <h4>Email</h4>
        <p id="emailError" class="error"></p>
        <input id="email" name="email" class="text_field col-12" type="text" size="50"/>
    </div>
    <div class="field_container col-12">
        <h4>Password</h4>
        <p id="passwordError" class="error"></p>
        <input id="password" name="password" class="text_field col-12" type="password" size="50"/>
        <p><a href="forgot.html">Forgot Password</a></p>
    </div>
    <center><h3 class="error">{{message}}</h3></center>
    <div class="button_container col-12">
        <button class="green col-12" type="submit">Sign In</button>
    </div>
</form>