{{#section 'head'}}
    <link rel="stylesheet" href="../styles/user-orders_style.css" type="text/css"/>
    <script src="scripts/account_controller.js"></script>
    <title>Orders</title>
{{/section}}

<div class="account_section col-12" id="ordersSection">
    <div class="section_content col-12">
        
    </div>
</div>