{{#section 'head'}}
    <script src="../scripts/notifications_controller.js"></script>
    <link rel="stylesheet" href="../styles/notifications_style.css" type="text/css"/>
    <title>Notifications</title>
{{/section}}

<h2>New Notifictions</h2>
    <div class="notification_container col-12">
        <div class="new notification col-12">
            <div class="message_container col-12">
                <h4 id="subject">Subject: Welcome to Addifex.com</h4>
                <p id="message">
                    Thank you for creating an account on Addifex! Please note that we are still developing the marketplace features and you will not be able to buy or sell any products yet. Keep checking back and we will have the marketplace running soon. In the mean time, tell your friends and family about us and check us out on social media.
                </p>
            </div>
        </div>
    </div>
<hr>