<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../images/simple_logo_v1.png"/>
        <link rel="stylesheet" href="../styles/creatorInfo-changePassword_style.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Shop | Edit Info</title>
    </head>
    <body class="col-12">
        <header class="col-12">
            <img src="../images/logo_v1.png" class="col-2" alt="Logo"/>
        </header>
        <article class="col-12">
            <div class="content_container col-12">
                <div class="sideButtons_container col-3">
                    <ul>
                        <a href="creatorInfo.html">
                            <li class="side_button col-12">Back to Info</li>
                        </a>
                    </ul>
                </div>
                <form class="rightSection_container col-9">
                    <center><h3>Change Password</h3></center>
                    <div class="field_container col-12">
                        <h4>Old Password</h4>
                        <p id="oldError" class="error"></p>
                        <input id="old" name="old" class="text_field col-12" type="password" size="50"/>
                    </div>
                    <div class="field_container col-12">
                        <h4>New Password</h4>
                        <div id="requirments" class="passwordReqs_container col-12">
                            <p id="length" class="passwordReq col">8 Characters Long</p>
                            <p id="uppercase" class="passwordReq col">1 Uppercase Character</p>
                            <p id="number" class="passwordReq col">1 Number</p>
                        </div>
                        <p id="newError" class="error"></p>
                        <input id="new" name="new" class="text_field col-12" type="password" size="50"/>
                    </div>
                    <div class="field_container col-12">
                        <h4>Confirm New Password</h4>
                        <p id="confirmError" class="error"></p>
                        <input id="confirm" name="password" class="text_field col-12" type="password" size="50"/>
                    </div>
                    <div class="button_container col-12">
                        <button class="red col-12">Change</button>
                    </div>
                </form>
                <footer class="col-12">
                    <p class="col-12">Copyright &copy 2017 Addifex, L.L.C. All Rights Reserved</p>
                </footer>
            </div>
        </article>
    </body>
    <script src="../scripts/creatorProducts-new_controller.js"></script>
</html>