<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../images/simple_logo_v1.png"/>
        <link rel="stylesheet" href="../styles/creatorInfo_style.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Shop | Sales</title>
    </head>
    <body class="col-12">
        <header class="col-12">
            <img src="../images/logo_v1.png" class="col-2" alt="Logo"/>
        </header>
        <article class="col-12">
            <div class="content_container col-12">
                <div class="sideButtons_container col-3">
                    <ul>
                        <a href="creatorShop.html">
                            <li class="side_button col-12">My Shop</li>
                        </a>
                        <a href="creatorProducts.html">
                            <li class="side_button col-12">Products</li>
                        </a>
                        <a href="creatorOrders.html">
                            <li class="side_button col-12">Orders</li>
                        </a>
                        <a href="creatorSales.html">
                            <li class="side_button col-12">Sales</li>
                        </a>
                        <a href="creatorShop-edit.html">
                            <li class="side_button col-12">Edit Shop</li>
                        </a>
                        <a href="creatorInfo.html">
                            <li class="side_button col-12">My Info</li>
                        </a>
                    </ul>
                </div>
                <div class="rightSection_container col-9">
                    <h2>Sales</h2>
                    <center><h2>The Marketplace will be coming soon!</h2></center>
                    <!--<div class="sales_section col-6">
                        <center><h3>Sold</h3></center>
                    </div>
                    <div class="sales_section col-6">
                        <center><h3>Revenue</h3></center>
                    </div>-->
                </div>
                <footer class="col-12">
                    <p class="col-12">Copyright &copy 2017 Addifex, L.L.C. All Rights Reserved</p>
                </footer>
            </div>
        </article>
    </body>
    <script src="../scripts/cart_controller.js"></script>
</html>