<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../images/simple_logo_v1.png"/>
        <link rel="stylesheet" href="../styles/likes_style.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Likes</title>
    </head>
    <body class="col-12">
        <header class="col-12">
            <a href="index.html">
                <img src="../images/logo_v1.png" class="col-2" alt="Logo"/>
            </a>
            <form class="search_form col-8" action="" method="post">
                <select id="category" class="col-2">
                    <option>All</option>
                </select>
                <input id="input" name="input" class="col-8" type="text" placeholder="Search" maxlength="100"/>
                <button type="submit" id="search" class="red col-2"></button>
            </form>
            <div class="headerButton_container col-1">
                <a href="cart.html">
                    <button class="cart_button green col-12"></button>
                </a>
            </div>
            <div class="headerButton_container col-1">
                <a href="account.html">
                    <button class="account_button blue col-12"></button>
                </a>
            </div>
        </header>
        <article class="col-12">
            <div class="content_container col-12">
                <h2>My Likes</h2>
                <div class="section_content col-12">
                    <div class="liked_container col-12">
                        <a href="product.html">
                            <img class="col-2" src="../images/battery.jpg"/>
                        </a>
                        <div class="likedInfo_container col-10">
                            <ul>
                                <li>Product Name</li>
                                <li>By: Creator</li>
                                <li>$0.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <footer class="col-12">
                    <p class="col-6"><a href="about.html">About Us</a> | <a href="contact.html">Contact Us</a> | <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a></p>
                    <p class="col-6">Copyright &copy 2017 Addifex, L.L.C. All Rights Reserved</p>
                </footer>
            </div>
        </article>
    </body>
    <script src="../scripts/account_controller.js"></script>
</html>