<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="../images/simple_logo_v1.png"/>
        <link rel="stylesheet" href="../styles/welcome_style.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Addifex</title>
    </head>
    <body class="col-12">
        <header class="col-12">
            <a href="index.html">
                <img src="../images/logo_v1.png" class="col-2" alt="Logo">
            </a>
        </header>
        <article class="col-12">
            <div class="content_container col-12">
                <center>
                    <h2>Welcome to Addifex</h2>
                    <p>
                        Addifex is an online marketplace for entrepreneurs, inventors, and makers to sell their products. Addifex is made for discovering new products
                        that can't be found anywhere else.
                    </p>
                    <h4>Create an account to discover unique products!</h4>
                </center>
                <div class="button_container col-12">
                    <a href="signup.html">
                        <button class="blue col-12">Create Account</button>
                    </a>
                </div>
                <div class="col-12">
                    <div class="button_container col-12">
                        <a href="signin.html">
                            <button class="green col-12">Sign In</button>
                        </a>
                    </div>
                </div>
                <center><a href="index.html">Or continue without an account...</a></center>
                <div class="creator_container col-12">
                    <center>
                        <h3>Have a product to sell?</h3>
                        <p>
                            Addifex is the perfect platform for you to sell your product. Addifex is designed to be a easy and inexpensive option to getting your new
                            invention or product to market. We handle all the technical things so you can focus on what is most important: your product!
                        </p>
                    </center>
                    <div class="col-6">
                        <center>
                            <h4>Want to know more about selling on Addifex?</h4>
                        </center>
                        <div class="button_container col-12">
                            <a href="selling.html">
                                <button class="red col-12">How To Sell</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <center>
                            <h4>Already have a shop?</h4>
                        </center>
                        <div class="button_container col-12">
                            <a href="shopLogin.html">
                                <button class="red col-12">My Shop</button>
                            </a>
                        </div>
                    </div>
                </div>
                <footer class="col-12">
                    <p class="col-6"><a href="about.html">About Us</a> | <a href="contact.html">Contact Us</a> | <a href="">Privacy Policy</a> | <a href="">Terms & Conditions</a> | <a href="shopLogin.html">My Shop</a></p>
                    <p class="col-6">Copyright &copy 2017 Addifex, L.L.C. All Rights Reserved</p>
                </footer>
            </div>
        </article>
    </body>
    <!--Scripts go at the bottom so the page can load the elements for the eventListeners to attach themselves to-->
    <script src="../scripts/welcome_controller.js"></script>
</html>