*{
  box-sizing: border-box;
}

@media only screen and (max-width: 425px){
  /* For Mobile */
  col, [class*="col-"] {
    float: left;
    
    width: 100%;
    
    text-align: center;
  }
  
  div.button_container{
    padding: 10px 0px 10px 0px;
  }
}

@media only screen and (min-width: 426px){
  /* For Tablet */
  col, [class*="col-"] {float: left;}
  
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  
  /*This is only temporary, this just simplifies the layout for right now.
   *Delete these lines when working on the tablet layout
   */
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .hiddable {display: none;}
  
  div.button_container{
    padding: 10px 33.33% 10px 33.33%;
  }
  /*Delete through here*/
}

@media only screen and (min-width: 768px) {
  /* For Desktop: */
  col, [class*="col-"] {float: left;}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .hiddable {display: none;}
  
  div.button_container{
    padding: 10px 33.33% 10px 33.33%;
  }
}

body{
  margin: 0px;
  
  height: auto;
  
  background-color: #f9f9f9;
}

h2, h3, h4{
  margin: 0px;
  
  font-family: sans-serif;
  color: #313131;
}

h4 {font-size: 16px;}

p{
  margin: 5px 0px 5px 0px;
  
  font-family: sans-serif;
  color: #313131;
}

a{
  color: #313131;
  text-decoration: underline;
}

a:link, a:active, a:visited{
  font-weight: 500;
}

a:hover{
  font-weight: 600;
}

button{
  height: 40px;
  
  border: none;
  border-radius: 5px;
  
  font-size: 13px;
  color: #f9f9f9;
  font-weight: bold;
  
  cursor: pointer;
}

button.red{
  background-color: #d9534f;
}

button.red:hover{
  background-color: #ad423f;
}

button.green{
  background-color: #5cb85c;
}

button.green:hover{
  background-color: #499349;
}

button.blue{
  background-color: #5bc0de;
}

button.blue:hover{
  background-color: #4899b1;
}

header{
  height: auto;
  
  background-color: #313131;
  
  padding: 5px 16.66% 5px 16.66%;
}

article{
  padding: 10px 16.33% 0px 16.33%;
}

form{
  padding-top: 5px;
}

div.field_container{
  padding: 5px 0px 10px 0px;
}

p.error{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #d9534f;
}

.text_field{
  box-sizing: border-box;
  
  height: 40px;
  
  border: solid 1px #313131;
  outline-color: #313131;
  
  background-color: #ffffff;
  
  font-size: 15px;
}

select{
  height: 40px;
  
  border: solid 2px #313131;
  border-radius: 0px;
  outline-color: #313131;
}

select:focus{
  background-color: #c7c7c7;
}

textarea{
  height: 200px;
  
  border: solid 2px #313131;
  outline-color: #313131;
  
  resize: vertical;
  
  font-family: sans-serif;
  font-size: 15px;
}

input.file_input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input.file_input + label{
  height: 40px;
  
  border: solid 2px #313131;
  border-radius: 5px;
  outline: none;
  
  background-color: #f9f9f9;
  
  overflow: hidden;
  
  padding: 12px 0px 0px 5px;
  
  font-family: sans-serif;
  font-size: 13px;
  color: #313131;
  font-weight: bold;
  
  cursor: pointer;
}

input.file_input:focus + label, input.file_input + label:hover{
  background-color: #c7c7c7;
}

input.file_input:focus + label{
  outline: 1px solid #313131;
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: #313131;
}

button.addKeyword_button{
  border-radius: 0px;
}